:root {
    --lightgreen: #75ad42;
    --darkgreen: #015e32;
}

@font-face {
    font-family: 'Bebas';
    src: url(../fonts/BebasNeue-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 4.5rem;
    background-color: var(--darkgreen);
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
}

.logo-con {
    width: 85%;
    height: 4.5rem;
}

.logo-con img {
    height: 8rem;
    width: auto;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.social-con {
    width: 15%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 1rem;
}

.social-con img {
    height: 3rem;
    width: auto;
    cursor: pointer;
}

@media screen and (min-width: 451px) and (max-width: 770px) {
    .logo-con {
        width: 80%;
    }
    
    .social-con {
        width: 20%;
        padding-right: 1.5rem;
    }

    .social-con img {
        margin-right: 0.5rem;
    }
}

@media screen and (max-width: 770px) and (orientation: landscape) {
    header {
        height: 2.5rem;
    }
    
    .logo-con {
        width: 80%;
        height: 2.5rem;
    }
    
    .logo-con img {
        height: 5rem;
        margin-left: 0.25rem;
        margin-top: 0.25rem;
    }
    
    .social-con {
        width: 20%;
        height: 2.5rem;
        padding-right: 0.5rem;
    }
    
    .social-con img {
        height: 2rem;
    }
}


@media screen and (max-width: 450px) {
    header {
        width: 100%;
        height: 4rem;
        background-color: var(--darkgreen);
        display: flex;
        align-items: center;
        z-index: 1;
        position: relative;
    }
    
    .logo-con {
        width: 60%;
       height: 4rem;
    }
    
    .logo-con img {
        height: 6rem;
        margin-left: 0.3rem;
        margin-top: 0.3rem;
    }
    
    .social-con {
        width: 40%;
        height: 4rem;
        margin-right: 0rem;
        padding: 0;
    }
    
    .social-con img {
        height: 2.9rem;
        width: auto;
        cursor: pointer;
        margin: 0;
    }
  
}

/* ----------- footer */

footer {
    width: 100%;
    height: 16rem;
    background-image: url('../images/main/footer.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    place-content: center; 
    
}

footer .contact {
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    place-content: center; 
    font-weight: 600;
}

.contact h3 {
    text-decoration: underline;
}

.contact p {
    margin: 0.5rem;
}

.contact p a {
    color: #000;
    border: 1px solid #000;
    text-decoration: none;
    padding: 0.2rem  0.5rem;
    background-color: #75ad42;
}

.contact .copyright {
    margin-top: 1.5rem;
    font-size: 0.7rem;
}


